<nav class="navbar is-dark" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
    <%= link_to root_path, class: "navbar-item" do %>
        <div class="logo">
            <%= image_tag 'vangappush.svg', alt: 'Vang' %>
        </div>
    <% end %>
    <div class="navbar-burger burger" data-target="navbar">
        <span></span>
        <span></span>
        <span></span>
    </div>
    </div>
    <div id="navbar" class="navbar-menu">
    <div class="navbar-end">
        <div class="navbar-item">
        <div class="field is-grouped">
            <% if user_signed_in? %>
                <p class="control">
                <%= link_to new_picture_path,class: "button is-primary" do %>
                <span class="icon is-small"><i class="fa fa-upload"></i></span>
                <span>Upload</span>
                <% end %>
                </p>
                <p class="control">
                    <a class="button is-dark"> About</a>
                </p>
                <p class="control">
                    <a class="button is-dark"> Licence</a>
                </p>
                <p class="control">
                
                <%= link_to  edit_user_registration_path, class: "button is-dark" do %>
                    <span class="icon is-small"><i class="fa fa-gear"></i></span><span><%=  current_user.name %></span>
                <% end %>
                </p>
                <p class="control">
                <%= link_to "Log Out", destroy_user_session_path, method: :delete, class: "button is-dark" %>
                </p>
            <% else %>
                <p class="control">
                <%= link_to 'Sign In',new_user_session_path, class: "button is-dark" %>
                </p>
                <p class="control">
                <%= link_to 'Sign Up',new_user_registration_path, class: "button is-dark" %>
                </p>
            <% end %>
        </div>
        </div>
    </div>
    </div>
</nav>

